*{margin:0;padding: 0;}
body {
    background: url(img/nen.jpg);
}

.noidung {
    width: 70%;
    margin: auto;
    font-family: 'Mulish', sans-serif;
}

img.anhnho {
    float: left;
    height: 250px;
    width: 33%;
    margin-right: 3px;
}

.vaicaianh {
    overflow: hidden;
}

h1.tieude {
    margin-bottom: 13px;
    font-size: 57px;
    color: #10ac84;
    font-weight: 900;
}

._1motkhoi {
    border-bottom: 1px solid green;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

h2.tdkhoi {
    height: 58px;
    font-size: 51px;
    color: #e84118;
    font-weight: 500px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.4s;
}

.tdkhoi img {
    float: right;
    transition: 0.4s;
    padding-top: 34px;
    height: 15px;
    margin-right: -26px;
}

h2.tdkhoi:hover img {
    margin-right: 18px;
}

h2.tdkhoi:hover {
    color: #5f27cd;
}

.ndkhoi {
    color: black;
    font-size: 20px;
    line-height: 34px;
    margin-top: 18px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 20px;
}

.tdkhoi.xanh{color:#5f27cd}

h2.tdkhoi.xanh img {
    margin-right: 18px;
    transform: rotate(180deg);
    margin-top: 20px;
    pading-top: -8px;
}