*{margin:0;padding: 0;}
h1.tieude {
    font-family: 'Josefin Slab', serif;
    /* font-weight: 500; */
    text-align: center;
    margin: 17px 0px;
    font-size: 49px;
}


body {
    background: url(img/nen.jpg);
}

.noidung {
    width: 70%;
    margin: auto;
    font-family: 'Mulish', sans-serif;
}

img.anhnho {
    float: left;
    height: 200px;
    margin-right: 10px;
    width: 32%;
}

.vaicaianh {
    overflow: hidden;
}


._1motkhoi {
    border-bottom: 1px solid #95a5a6;
    padding-bottom: 6px;
}

.tdkhoi {
    height: 49px;
    font-size: 46px;
    color: #5352ed;
    font-weight: 300;
    cursor: pointer;
    overflow: hidden;
    transition: 0.4s;
    padding-top: 2px;
    padding-bottom: 10px;
}

.tdkhoi  img {
    float: right;
    transition: 0.4s;
    /* transform: rotate(180deg); */
    padding-top: 27px;
    /* cursor: pointer; */
    margin-right: -100px;
}


.tdkhoi:hover img {
    margin-right: 0px;
}

.tdkhoi:hover {
    color:#ff3f34;
}


.ndkhoi {
    color: #1e272e;
    font-size: 15px;
    line-height: 25px;
    padding: 1px;
    margin-top: 1px;
    margin-bottom: 5px;
}
